body{
background: #faf0ca;font-size: 32px;color: #505050;
font-family: Catamaran;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;}

.container,.myform{background: #fff;width: 900px;margin: 24px auto 0;padding: 80px 50px;border-radius: 50px;}
header{
  position: relative;
  margin-bottom: 50px;
}
header h1{
  position: absolute;
  top: 20px;
  font-size:14px;
  left: 70px;
}
header img{
  width: 60px;
  border:1px solid #242424;
  border-radius:50%;
}
nav a{font-family: Catamaran;}
iframe{border: 0;width: 100%;height: 600px;}
dt{line-height: 0px;}
dd{position: relative;left: 170px;top:-24px;}
video{width: 100%;}
p, li, dt, dd{
   font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; 
}
p{
  padding-top: 2em;
  line-height: 1.6;
}
h2{
  font-size:1.5em;
  padding: 1em 0 .6em 0;
}
iframe{border: 0;width: 100%;height: 600px;}
.myform{width: 560px;}
.myform label{display: block;margin-top: 10px;}
.myform input{width: 100%;display: block;line-height: 42px;}
.myform input.select{width: 20px;display: inline-block;}
.myform input.select+label{display: inline}
.myform input.button{border-radius: 10px;padding: 10px;margin-top:1em;line-height: 20px;width: 100px;border:0;color: #fff;background: #242424;}
nav{
  position: relative;
  z-index:5;
}
nav ul{
  position: absolute;
  right:0;
}
a{text-decoration: none;color:#0d3b66;}
a:hover{color:#888;}
nav a{ 
  color:#242424;
  line-height: 32px;padding:10px 2em;
}

nav li{
  float:left;
}
section{
  width:700px;
  margin:0 auto;
}
table{
  border-top:1px solid #222;
  border-right:1px solid #222;
  margin: 0 auto;
}
td{
  border-bottom:1px solid #222;
  border-left:1px solid #222;
  font-weight:400;
  padding:5px;
}
.info td:nth-child(1){
  width:20%;
}
dt {
    line-height: 20px;
}

dd {
    position: relative;
    left: 104px;
    top: -20px;
}
footer{font-weight: 400;font-size: 12px;width: 900px;margin: 0 auto;line-height:3em;}
footer a{font-weight: 800;}

.list {
    list-style: disc inside;
    line-height: 32px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
